h1 {
  text-align: center;
  justify-content: center;
  color: blue;
  font-family: verdana;
  font-size: 200%;
}



img {
  opacity: 0.7;
  width: 1150px;
  height: 600px;
}
.container {
  position: relative;
  text-align: center;
  color: white;
}

.container .btn {
  position: absolute;
  top: 62%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: rgb(5, 7, 114);
  color: white;
  font-size: 16px;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
}

.container .btn:hover {
  background-color: rgb(7, 7, 54);
}

.centered {
  opacity: 0.8;
  line-height: 2;
  color: black;
  font-size: 25px;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.top {
  color: rgb(238, 42, 42);
  line-height: 1.5;
  font-size: 18px;
  font-weight: bold;
  font-family: "Times New Roman";
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -60%);
}

body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

.navbar {
  overflow: hidden;
  background-color: #333;
}

.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.subnav {
  float: left;
  overflow: hidden;
}

.subnav .subnavbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.navbar a:hover,
.subnav:hover .subnavbtn {
  background-color: rgb(224, 85, 85);
}

.subnav-content {
  display: none;
  position: absolute;
  left: 0;
  background-color: rgb(212, 59, 59);
  width: 100%;
  z-index: 1;
}

.subnav-content a {
  float: left;
  color: white;
  text-decoration: none;
}

.subnav-content a:hover {
  background-color: #eee;
  color: black;
}

.subnav:hover .subnav-content {
  display: block;
}

.And {
  color: black;
  align-items: center;
  justify-content: center;
  top: 50px;
  width: 1150px;
  margin-left: 43px;
  margin-top: 30;
  text-align: left;
  line-height: 1.5;
  
}

hr {
  border: 5px solid rgb(99, 93, 93);
  border-style: dashed;
  border-radius: 5px;
}

h4{
  color: rgb(255, 0, 55);
  text-indent: 50px;
  margin-top: 90px;
  font-style: italic;
}

footer {
  text-align: center;
  padding: 10px;
  background-color: DarkSalmon;
  color: white;
}